{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md=12">  <!--use to link the login page with home page-->
        <a href="/home" style="text-decoration: none;">Home</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 shadow mt-4 p-4 mx-auto"> <!--it will divide the screen in 4 cols  and mt-4 is used to give margin spacing and p is used for padding -->
        <h2>Login</h2>
        {% if errormsg %}
          <div class="alert alert-danger">
            {{errormsg}}
          </div>
        {% endif %}
        <form method="POST" action="/login/">
          {% csrf_token %}
          <div class="mb-3">
            <label for="input1" class="form-label">Username</label>
            <input type="email" class="form-control" id="input1" name="uname" placeholder="Enter username">
          </div>
          <br>
          <div class="mb-3">
            <label for="input2" class="form-label">Password</label>
            <input type="password" class="form-control" id="input2" name="upass" placeholder="Enter password">
          </div>                 
            <input type="submit" class="btn btn-danger " value="Login">&nbsp;&nbsp;Not a user?<a href="/register " style="text-decoration: none;"> &nbsp;&nbsp;Register</a>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>